@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Hello team 15! Test 6:20 pm april 3, 2022.</p>
</div>
