@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="/LoginPage.aspx">Click me to login! </a>.</p>
</div>
